# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerized.

## Objectives:
* List popular languages for data Science
* List popular Libraries of Data Science
* List of open source tools in Development Environment

Some of the popular languages that Data Scientists use are:
1. Python
2. JavaScript
3. R
4. C,C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas
4. PyTorch

| Data Science Tools |
|--------------------|
|R Studio|
|Jupyter Notebooks|
|Zeppelin Notebooks|

### Below are a few  examples of evaluating arithmetic expressions in Python
2+3

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
# 200 minutes

200/60

3.3333333333333335

## Author
Jitendra Kumar